<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}

    <div class="container">
        
        <div id="main" class="col-lg-8">
            <h2>Class:{{ .Title }}</h2>
            {{ .Content }}
            
            {{ if .Params.imageid }}
                <img src="{{ .Site.Params.cdn}}{{ .Params.imageid }}-xl.jpg" alt="{{ .Title }}" class="img-responsive" />            
            {{ end }} 
        </div>
        
        <div id="sidebar" class="col-lg-4">
            {{ partial "sidebar-ourstory.html" . }}
            {{ partial "sidebar-ingredients.html" . }}
        </div>
    
    </div>

    {{ partial "footer.html" . }}    
</body>
</html>