<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}
    <div class="container">        
        <div id="main" class="col-lg-8">   
            {{ if .Params.imageid }}
                <img src="/img/cdn/{{ .Params.imageid }}-sq.jpg" alt="{{ .Title }}" class="img-responsive img-circle pull-right" />                
            {{end}}    
            {{ .Content }}            
        </div>
        <div id="sidebar" class="col-lg-4">
            {{ partial "sidebar-ourstory.html" . }}
            {{ partial "sidebar-ingredients.html" . }}
        </div>     
    </div>
    {{ partial "footer.html" . }}    
</body>
</html>