<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}

    <div class="container">
        
        <div id="main" class="col-lg-8">
            <h2>Our Favorite Recipes</h2>
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
            <div class="col-lg-6">
                {{ if .Params.image }}
                <a href="{{ .Permalink }}">
                    <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner img-responsive">
                </a>
                {{end}}
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                {{ partial "article_metadata" (dict "content" . "is_list" 1) }}
                <div class="article-style"><p>{{ .Summary }}</p></div>
            </div>
            {{ end }}
        </div>

        {{ partial "sidebar.html" . }}
    
    </div>

    {{ partial "footer.html" . }}    
</body>
</html>