<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}

    <div class="container">
        
        <div id="main" class="col-lg-8">

            <h2>Hello From the Default Index Page</h2>

            <h3>Top 3 Recipes</h3>
            {{ range first 3 (where .Data.Pages "Type" "recipes") }}

              <a href="{{ .RelPermalink }}">
                    {{ .Title }}
            </a>
            {{ end }}   

            <h3>Checking to see if this works</h3>         
               
        </div>

        

        {{ partial "sidebar.html" . }}
    
    </div>
    <div class="container text-small">TEMPLATE = themes > omi > layout > index.html</div>

    {{ partial "footer.html" . }}    
</body>
</html>
