<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}
    <div class="container">        
        <div id="main" class="col-lg-8">
            <h1>Ingredients, Tools & Know How to Bring the Far East to Your Home</h2>
            
            <h2>Top 3 Recipes</h3>
            <div class="row">
                
                {{ range first 3 (where .Data.Pages "Type" "recipes") }}
                    <div class="col-lg-4">
                        <img src="/img/cdn/{{ .Params.imageid }}-sq.jpg" alt="{{ .Title }}" class="img-responsive" />
                        <a href="{{ .RelPermalink }}">                        
                            <h3>{{ .Title }}</h3>
                        </a>
                        <p>{{ .Params.summary }}</p>
                    </div>
                
                {{ end }}   
            </div>

            <br style="clear:both;"/>
            
            <div class="well">
                {{ partial "testimonial.html" . }}                     
            </div>                          
        </div>
        <div id="sidebar" class="col-lg-4">
            {{ partial "sidebar-omi.html" . }}            
            {{ partial "sidebar-ourstory.html" . }}
        </div>
    </div>
    <div class="container text-small">TEMPLATE = themes > omi > layout > index.html</div>
    {{ partial "footer.html" . }}    
</body>
</html>      
{{ partial "js.html" . }} 