
/********** HEADER  **********/
header{
    background-image:url('/app/img/banner-short.jpg');   
    background-color:#6F9A2B;      
}

header .slogan{
    background-color:#FFE074;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    font-size:20px;
    font-weight: bold;
} 

/********** NAV **********/
nav {
    font-family: 'Times New Roman', Times, serif;  
    text-transform: uppercase; 
    }
nav .navbar-nav a { 
    background-color: #FFE074;
    color:#6F9A2B;
    font-size:1.3em;    
    }
nav .navbar-nav a.active { 
    background-color:#fff; 
    color:#FFE074; 
    }

.footer-body {
    text-align:center;
    background-color: #FFE074;
}

/********** MAIN **********/
#main {
    background-color:white;    
}


.panel {
    background-color: #FFE074;
}
.panel-heading { 
    font-weight: bold;
    font-size:1.2em;
    text-align:center;
}

#hours.panel, #hours .panel-heading, #hours .panel-body {padding: 0 0 0 0; }

#hours.panel, #hours .panel-body { 
    width:75%; 
    text-align:center;
    margin: 0 auto; 
    }
#hours .panel-footer { background:none; border:0;}
#hours.panel{
    background:rgba(0,0,0,0.3);
    color:#fff;
}

/*class="dl-horizontal"*/
#hours dl dt, #hours dl dd { 
    width:50%;
    float:left;
    text-align: center;
    border-bottom:1px solid white;
    padding:0 0 0 0;
    margin:0 0 0 0;   
    }
    #hours dl {clear:both; float:none;margin-bottom:15px;}

@media(max-width:1024px){
 #hours.panel {
    background-color:#808080;
     
     margin-bottom:80px;
 }
}
#phone {
    color:#fff;
    font-size:1.1em;
    font-weight:bold;
    margin-top:8px;
}

#address { 
    color:#fff;
    font-size: 1.4em;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-align:center;
}


.panel-heading { 
    font-family: 'Times New Roman', Times, serif;
    font-size:1.4em;
}

h2.highlight{
  display: inline;
  background: #FFE074;
  color: #4D4D4D;
  padding: 0.18em;
  line-height: 1.6em;
  font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  position: relative;
  left: 0.18em;
  padding-left: 0;
  box-shadow: 0.18em 0 0 #FFE074, -0.18em 0 0 #FFE074;
}
h2 {color:#804000;   font-family: 'Times New Roman', Times, serif;
     }
     h3 {
          font-family: 'Times New Roman', Times, serif;
     }

#main > h2 { margin-top:0px; }
.panel.alt { background-color:#fff2c6; }