header{
    background-image:url('/img/banner-short.jpg');
    background-repeat:no-repeat;
    /*background-color:#6F9A2B;*/
    min-height: 350px;
    padding-top: 24px;   
}

nav .navbar-nav a { 
    background-color: #FFE074;
    margin-left:15px;
    padding:8px;
    color:#6F9A2B;
    font-size:1.3em;
    
    }
    footer .bottom-nav ul li { 
        list-style:none;
    }
    footer .bottom-nav ul li a{
        font-size:18px;
        color:#988275;
    }
    footer .address {
        font-size:18px;
    }
    footer .middle-col {
        border-right: 1px solid #988275;
        border-left: 1px solid #988275;
        min-height: 150px;
    }

ul.social-buttons {
    margin-bottom:0;
    text-align:right;
    }
ul.social-buttons li a {
    display:block;
    background-color:#988275;
    height:48px;
    width:48px;
    border-radius:100%;
    font-size:30px;
    line-height:48px;
    color:#FFE074;
    outline:0;
    text-align:center;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s    
    }    
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#fed136}

footer {
    color:#988275;
    background-image:url('/app/img/footer.gif');
    background-repeat: repeat-x;
    min-height: 325px;
    padding-top:55px;
}

footer .footer-body {
    padding:20px 20px 0px 20px;
    background-color: #FFE074;    
}

#main {
    top:-70px;
    background-color:white;
    padding-top:10px;
}
#sidebar {
    margin-top:15px;
}
#logo h1 { text-indent:-5000px; display:none;}

header .slogan{
    background-color:#FFE074;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-style: italic;
    font-size:20px;
    font-weight: bold;
    margin-top:10px;

} 
nav {font-family: 'Times New Roman', Times, serif;  text-transform: uppercase; }
nav a.active { background-color:#fff; color:#FFE074; }
.panel {
    background-color: #FFE074;
}
.panel-heading { 
    font-weight: bold;
    font-size:1.2em;
    text-align:center;
}

#hours.panel, #hours .panel-heading, #hours .panel-body {padding: 0 0 0 0; }

#hours.panel, #hours .panel-body { 
    width:75%; 
    text-align:center;
    margin: 0 auto; 
    }
#hours .panel-footer { background:none; border:0;}
#hours.panel{
    background:rgba(0,0,0,0.3);
    color:#fff;
}

/*class="dl-horizontal"*/
#hours dl dt, #hours dl dd { 
    width:50%;
    float:left;
    text-align: center;
    border-bottom:1px solid white;
    padding:0 0 0 0;
    margin:0 0 0 0;   
    }
    #hours dl {clear:both; float:none;margin-bottom:15px;}

@media(max-width:1024px){
 #hours.panel {
    background-color:#808080;
     
     margin-bottom:80px;
 }
}
#phone {
    color:#fff;
    font-size:1.1em;
    font-weight:bold;
    margin-top:8px;
}

#address { 
    color:#fff;
    font-size: 1.4em;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-align:center;
}


.panel-heading { 
    font-family: 'Times New Roman', Times, serif;
    font-size:1.4em;
}

h2.highlight{
  display: inline;
  background: #FFE074;
  color: #4D4D4D;
  padding: 0.18em;
  line-height: 1.6em;
  font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  position: relative;
  left: 0.18em;
  padding-left: 0;
  box-shadow: 0.18em 0 0 #FFE074, -0.18em 0 0 #FFE074;
}
h2 {color:#804000;   font-family: 'Times New Roman', Times, serif;
     }
     h3 {
          font-family: 'Times New Roman', Times, serif;
     }

#main > h2 { margin-top:0px; }
.panel.alt { background-color:#fff2c6; }
