<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}

    <div class="container">        
        <div id="main" class="col-lg-8">
            <h2>{{ .Title }}</h2>
            <div class="row">
            {{ $paginator := .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}

               {{ .Render "summary" }}
            
            {{ end }}
            </div>          
        </div>
        <div id="sidebar" class="col-lg-4">
            {{ partial "sidebar-ourstory.html" . }}
            {{ partial "sidebar-ingredients.html" . }}
        </div>
    
    </div>
    <!--TEMPLATE = layouts > _default > list.html-->
    {{ partial "footer.html" . }}    
</body>
</html>
{{ partial "js.html" . }}