<footer>
    <div class="container footer-body">
        <!-- Row #1 -->
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ .Site.BaseURL }}img/omi-logo-sm.png" class="img-responsive" alt="OMI Logo" />
                <p class="address">
                    785 Enfield Street <br/>
                    Enfield, CT 06082
                </p>
                <p>(860)253-9028</p>
            </div>
            <div class="bottom-nav col-lg-4 middle-col">
                <ul class="col-lg-6">
                    <li><a href="/about">About OMI</a></li>                        
                    <li><a href="/about/#contact">Contact</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                    <!--<li><a href="/about-us">FAQ</a></li>-->
                </ul>
                <ul class="col-lg-6">
                    <li><a href="/products">Products</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/classes">Classes</a></li>
                </ul>
            </div>
            <div class="col-lg-4">                
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/pages/OMI-Oriental-Grocery/462614440435233">
                            <i class="fa fa-facebook fa-3x"></i>
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Row#2 -->
        <div class="row">
            <p class="text-right">
                &copy; 2016 OMI Oriental Grocery | All Rights Reserved                
            </p>
        </div>
    </div><!--Footer Body -->
    <div class="text-center"><small>{{ .Site.LastChange }}</small></div>
</footer>
{{ partial "js.html" . }} 