<footer>
    <div class="container footer-body">
        <!-- Row #1 -->
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ .Site.BaseURL }}img/omi-logo-sm.png" class="img-responsive" alt="OMI Logo" />
                <p class="address">
                    {{ .Site.Params.street }}<br/>
                    {{ .Site.Params.citystatezip }}
                </p>
                <p>{{ .Site.Params.phone }}</p>
            </div>
            <div class="bottom-nav col-sm-4 middle-col">
                <ul class="col-sm-6">
                    <li><a href="/about">About OMI</a></li>                        
                    <li><a href="/about/#contact">Contact</a></li>
                    <li><a href="/reviews/">Testimonials</a></li>
                    <!--<li><a href="/about-us">FAQ</a></li>-->
                </ul>
                <ul class="col-sm-6">
                    <li><a href="/products">Products</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/classes">Classes</a></li>
                </ul>
            </div>
            <div class="col-sm-4">                
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="http://www.facebook.com/pages/OMI-Oriental-Grocery/462614440435233">
                            <i class="fa fa-facebook fa-3x"></i>                         
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>
        <!-- Row#2 -->
        <div class="row">
            <p class="text-right">
                &copy; {{ .Site.LastChange.Format "2006"}} OMI Oriental Grocery | All Rights Reserved                
            </p>
        </div>
    </div><!--Footer Body -->
    <div class="text-center"><small>{{ .Site.LastChange.Format "01.02.2006"}}</small></div>
</footer>
{{ partial "js.html" . }} 