<h3>What Our Customers Are Saying...</h2>                   
<div class="panel-body">
    <p>
        <i class="fa fa-quote-left fa-4x pull-left"></i>           
        My trip to the Omi Oriental Grocery this morning was a wonderful trip. The grocery store was
        spotless and very clean.  The store is well stocked with many ingredients for great cooking.
        The pricing was very reasonable and one stop shopping....<a href="/about-us/testimonials.html">Read More</a>
    </p>
    <p><i>- Ron R. from Woodstock, CT (Via Yelp.com)</i></p>                         
</div>   