<header>
    <div class="container">
        <div id="logo" class="col-lg-4 col-md-4 col-sm-4">  
            <a href="/">              
                <img src="{{ .Site.BaseURL }}img/omi-logo-lg.png" class="img-responsive" alt="logo" />
            </a>
            <!--<h1>OMI Asian Grocery</h1>-->
        </div>
        <div class="col-lg-8">
            <nav class="navbar ">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/classes">Classes</a></li>                    
                </ul>
            </nav>
            <div class="col-lg-offset-6">
                <div id="address">
                    786 Enfield Street <br />
                    Enfield, Conn. 06082
                </div>
                <div id="hours" class="panel">
                    <div class="panel-heading">
                        Hours
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Tue-Sat</dt>
                            <dd>10AM-8PM</dd>
                            
                            <dt>Sun</dt>
                            <dd>10AM-6PM</dd>
                            
                            <dt>Mon</dt>
                            <dd>CLOSED</dd>
                        </dl>
                        
                    </div>  
                    <div class="panel-footer">
                        <div id="phone" class="text-center">Have Questions? Call Us 860.253.9028</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>