<div class="panel">
    <div class="panel-heading">
        Our Story
    </div>
    <div class="panel-body">
        <img src="{{ .Site.BaseURL }}img/owners.jpg" class="img-responsive img-rounded col-lg-6 col-md-4 col-sm-4" alt="Kenneth and Yonok" />
        <p>
            Kenneth and Yonok Elsner married in Korea in 1987. In 2006, they purchased OMI Oriental Grocery, an Asian Specialty Food
            Store that has been in business in Springfield MA for over thirty years. <a data-toggle="collapse" data-target="#ourstory">More...</a>
        </p>
        <p id="ourstory" class="collapse">
            With the upcoming construction in downtown Springfield, OMI was relocated in 2015 to a new location on Route 5 in Enfield
            CT. Originally focused on the sale of Korean, Japanese and Chinese foods, they are broadening the product selection to
            include more Southeast Asian and Philippine items to better serve the interests of their new community.
        </p>
    </div>
</div>        