<div class="panel alt">
    <div class="panel-heading">
        Need Ingredients? Come Visit Our Enfield Store
    </div>
    <div class="panel-body">
        <img src="{{ .Site.BaseURL }}img/storefront.jpg" class="img-responsive img-rounded col-lg-6 col-md-4 col-sm-4" alt="OMI Storefront" />
        <p>
            Now located in a nice little strip mall called the Mountain Laurel Shoppes on route 5, easily accessible from exit 48 on route 91, just south of the MA/CT border.
            about half a mile from the Enfield Square Mall.                           
        </p>
        <div class="text-center">
        <i class="fa fa-map fa-2x"></i>
        <a href="/about/#directions" style="font-size:1.2em;">Map &amp; Directions</a>
        </div>
    </div>
</div> 