<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}            
</head>
<body>
    {{ partial "header.html" . }}

    <div class="container">
        
        <div id="main" class="col-lg-8">
            {{ .Content }}
        </div>

        <div id="sidebar" class="col-lg-4">
            {{ partial "sidebar-ourstory.html" . }}
            {{ partial "sidebar-ingredients.html" . }}
        </div>
    
    </div>

    <div class="container text-small">TEMPLATE = themes > omi > layouts > _default > single.html</div>

    {{ partial "footer.html" . }}    
</body>
</html>
{{ partial "js.html" . }}